/*login-form*/
.login--form {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
}

.form-group {
    line-height: 25px;
    /*padding: 10px;*/
}


label {
    /*display: inline-block;*/
    /*color: #333;*/
    /*font-weight: 600;*/
    /*cursor: pointer;*/
    /*margin-bottom: 10px;*/
    /*color: white;*/
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    /*outline: none;*/
    /*padding: 10px 0;*/
    /*display: block;*/
    /*width: 100%;*/
    /*color: #fff;*/
    /*font-size: 14px;*/
    /*border-bottom: 1px solid #6a5af9;*/
    /*background-color: transparent;*/
    /*color: #6a5af9;*/

    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #FBDA0C;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/*button*/
.button-create:active {
    background-color: #0058A3;
}

.button-create:hover {
    color: white;
    background-color: #0058A3;
}

.button-create {
    background-color: white;
    color: #0058A3;
    border-color: #0058A3;
    align-items: center;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    /*display: flex;*/
    margin: auto;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    font-size: 100%;
    line-height: 1.15;

}

.login_container {
    align-items: center;
    border: 2px solid #0058A3;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-right: 30px;
}

.login-content {
    display: flex;
    gap: 20px;
    flex-direction: column;
    padding: 30px;
    margin-left: 30px;
}


